@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: 348.1 32% 95%;
  --foreground: 348.1 1.6% 7.5%;
  --card: 348.1 16% 95%;
  --card-foreground: 348.1 1.6% 12.5%;
  --popover: 348.1 32% 97.5%;
  --popover-foreground: 348.1 96.6% 5%;
  --primary: 348.1 86.3% 60%;
  --primary-foreground: 0, 0%, 0%;
  --secondary: 348.1 16.4% 80%;
  --secondary-foreground: 0 0% 0%;
  --muted: 26.1 16.4% 90%;
  --muted-foreground: 348.1 1.6% 37.5%;
  --accent: 26.1 16.4% 85%;
  --accent-foreground: 348.1 1.6% 12.5%;
  --destructive: 0 66% 40%;
  --destructive-foreground: 348.1 1.6% 95%;
  --border: 348.1 23.2% 66%;
  --input: 348.1 23.2% 34%;
  --ring: 348.1 88.7% 45.3%;
  --radius: 1.5rem;
  --sidebar-background: 348, 32%, 90%;
  --sidebar-foreground: 348, 2%, 7%;
  --sidebar-primary: 348, 86%, 54%;
  --sidebar-primary-foreground: 0 0% 0%;
  --sidebar-accent: 26, 16%, 81%;
  --sidebar-accent-foreground: 0 0% 0%;
  --sidebar-border: 348, 23%, 63%;
  --sidebar-ring: 338, 98%, 45%;
}

.dark {
  --background: 348.1 22.8% 7.5%;
  --foreground: 348.1 1.6% 95%;
  --card: 348.1 16% 5%;
  --card-foreground: 348.1 1.6% 95%;
  --popover: 348.1 22.8% 5%;
  --popover-foreground: 348.1 1.6% 95%;
  --primary: 348.1 86.3% 60%;
  --primary-foreground: 0, 0%, 0%;
  --secondary: 348.1 16.4% 15%;
  --secondary-foreground: 0 0% 100%;
  --muted: 26.1 16.4% 20%;
  --muted-foreground: 348.1 1.6% 62.5%;
  --accent: 26.1 16.4% 20%;
  --accent-foreground: 348.1 1.6% 92.5%;
  --destructive: 0 66% 40%;
  --destructive-foreground: 348.1 1.6% 95%;
  --border: 348.1 23.2% 34%;
  --input: 348.1 23.2% 34%;
  --ring: 348.1 88.7% 45.3%;
  --radius: 1.5rem;
  --sidebar-background: 348, 23%, 10%;
  --sidebar-foreground: 348, 2%, 100%;
  --sidebar-primary: 348, 86%, 48%;
  --sidebar-primary-foreground: 0, 0%, 0%;
  --sidebar-accent: 26, 16%, 17%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 348, 23%, 32%;
  --sidebar-ring: 338, 98%, 45%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
